<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="layout :: head">
    <link rel="stylesheet" href="/my-css/admin-home.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/my-css/edit-user.css" type="text/css" media="all"/>
    <script src="https://kit.fontawesome.com/fc6fc213ca.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-1"><a class="btn home" href="/admin/home"><i class="fa fa-home"></i> </a></div>
        <div class="col-4 offset-7 col-sm-3 offset-sm-8 col-md-2 offset-md-9 col-xl-1 offset-xl-10"><a class="btn logout" th:href="@{/logout}">Log Out</a></div>
    </div>
    <h1>Add New Client</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div>
                <table class="table table-bordered">
                    <thead>
                    <tr class="table-head">
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="white-bg">
                        <form th:action="@{/admin/add-user}" th:object="${user}" method="post">
                            <td>
                                <input type="text" th:field="*{login}">
                            </td>
                            <td>
                                <input type="password" th:field="*{password}">
                            </td>
                            <td>
                                <button type="submit">Save</button>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout :: body"></div>
</body>
</html>