<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<head>
    <link th:replace="layout :: head">
    <link rel="stylesheet" href="/my-css/admin-home.css" type="text/css" media="all"/>
</head>
<body>
<div class="container">
    <h1>ADD NEW CLIENT ACCOUNT</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div>
                <table class="table table-bordered">
                    <thead>
                    <tr class="table-head">
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="white-bg">
                        <form th:action="@{/admin/add-user}" th:object="${user}" method="post">
                            <td>
                                <input type="text" th:field="*{login}">
                            </td>
                            <td>
                                <input type="password" th:field="*{password}">
                            </td>
                            <td>
                                <button type="submit">Save</button>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout :: body"></div>
</body>
</body>
</html>