body {
    font-size: 1rem;
    min-height: 100vh;
    align-items: center;
    background: linear-gradient(45deg, #004d73, #54a6c2);
}

h1 {
    text-align: center;
}

tr {
    vertical-align: middle;
    text-align: center;
}

h1{
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.container {
    min-height: 100vh;
    padding-top: 10vh;
}

.table-head {
    height: 60px;
    background: #082d42;
    color: white;
}

.scrollable {
    max-height: 70vh;
    overflow: scroll;
}

.gray-bg {
    background-color: #9BA6A9;
}

.white-bg {
   background-color: white;
}

.logout {
    background-color: white;
    text-align: right;
}

.logout:hover {
    background-color: lightseagreen;
    color: white;
}

.new {
    background-color: lightseagreen;
}

.new:hover {
    background-color: white;
    color: lightseagreen;
}

.lghtgr:hover {
    color: lightseagreen;
}