.logout{
    background-color: #9BA6A9;
    text-align: center;
    width: 100%;
}

.logout:hover {
    color: #082d42;
    background-color: white;
}

.home{
    background-color: #9BA6A9;
}

.home:hover {
    color: #082d42;
    background-color: white;
}