<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="layout :: head">
    <link rel="stylesheet" href="/my-css/gallery.css" type="text/css" media="all"/>
</head>
<body>
<div class="container page-top">
    <div class="row">
        <div class="col-4 offset-8 col-sm-3 offset-sm-9 col-md-2 offset-md-10 col-xl-1 offset-xl-11">
            <a class="btn logout" th:href="@{/logout}">Log Out</a></div>
    </div>
    <h1>Gallery</h1>
    <hr>
    <div class="row">
        <div th:each="photo : ${photos}" class="col-lg-3 col-md-4 col-xs-6 thumb relative">
            <a th:href="'/admin/delete-photo/' + ${photo.getPhotoId()}" class="delete">X</a>
            <a th:href="${photo.getPath()}"
               class="fancybox" rel="ligthbox">
                <img th:src="${photo.getPath()}"
                     class="zoom img-fluid" alt="">
            </a>
        </div>
    </div>


</div>
<div th:replace="layout :: body"></div>
</body>
</html>